{% for i in name %}
<h1>{{i}}</h1>
{% endfor %}
{% if working %}
<h3> Assigned</h3>
<ul>
{% for x in working%}
<li><a href="/info/{{x.id}}/"> {{x.title}}</a></li>
{% endfor %}
</ul>
{% endif %}
<h3> Tickets Filed</h3>
{% if filed %}
<ul>
{% for y in filed%}
<li><a href="/info/{{y.id}}/"> {{y.title}}</a></li>
{% endfor %}
</ul>
{% endif %}
<h3>Tickets Completed</h3>
{% if done %}
<ul>
{% for z in done%}
<li><a href="/info/{{z.id}}/"> {{z.title}}</a></li>
{% endfor %}
</ul>
{% endif %}