  
<h1>Bug Tickets</h1>
{% if user.is_authenticated %}
<h5>Logged in User is {{ user.get_username }}</h5>
{% endif %}
<li><a href='login/'><button>Login</button></a></li>
<li><a href='logout/'><button>Logout</button></a></li>
<li><a href='/addticket/'><button>Find a bug</button></a></li>
<li><a href="authorslist/"><button>View Users</button></a></li>
<li><a href="adduser/"><button>Register new user</button></a></li>
<h2>In Progress</h2>
{% for i in inprogress %}
    <li><a href="/info/{{i.id}}/">{{ i.title }}  {{ i.add_time }} </a></li>    
{% endfor %}
<h2>Invalid</h2>
{% for x in invalid %}
    <li><a href="/info/{{x.id}}/">{{ x.title }}  {{ x.add_time }} </a></li>    
{% endfor %}
<h2>New</h2>
{% for y in new %}
    <li><a href="/info/{{y.id}}/">{{ y.title }}  {{ y.add_time }} </a></li>    
{% endfor %}
<h2>Finished</h2>
{% for z in finished %}
    <li><a href="/info/{{i.id}}/">{{ z.title }}  {{ z.add_time }} </a></li>    
{% endfor %}
 </ul>